{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<h3>Search results from GDELT Geo API for query: {{ msg }}</h3>
<!-- <iframe src="{{ path }}" width="100%" height="1000" frameborder="0" allowfullscreen></iframe> -->
<!-- <div w3-include-html="heatmap.html"></div> -->
<!-- <embed type="text/html" src="{{ path }}" width="500" height="200"> -->
<iframe class="map", src="/heatmap" width="1400" height="900"></iframe>
<p>The query URL:</p>
<a href= "{{ result }}">{{ result }}</a>


{% endblock %}