{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chart</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
</head>
<body>
    <canvas id="line-chart" width="800" height="450"></canvas>
</body>
<script>
    var data_labels =  [{% for item in date_labels %}
                   "{{item}}",
                  {% endfor %}]
    var dataset = JSON.parse('{{ dataset_py | tojson | safe}}');
</script>
<script src="{{ url_for('static', filename='js/gdelt_line.js')}}"></script>
</html>

{% endblock %}