<!-- Inheriting Templates -->

{% extends "base.html" %}
{% block title %}Datalytix Deep search and TV search{% endblock %}
{% block content %}    

    <p>Foresight is essential in anticipating the future opportunities and risk in governmance.
      Policy makers provide institutions and governments with a foundation to guide and determine
      decision making and procedures. Theory of democracy states that the variety of attitudes and 
      preferences of the public are a key to shape policymaking. In the volatilely changing environment 
      of today, making accurate predictions becomes ever more challenging. 
      Hence, the target of this project is to provide actors in governance with a tool that 
      may aid foresight through
      </p>
      <ul>
        <li>Public sentiment analysis</li>
        <li>Trend detection</li>
        <li>Predictive analysis</li>
        <li>Correlation analysis</li>
        <li>Casuality analysis</li>
      </ul> 
      via 
      <ul>
        <li>Text mining and temporal and geographic social characterization;</li>
        <li>Machine Learning</li>
        <li>Big data techniques</li>
        <li>Causality inference</li>
        <li>Time series forecasting</li>
        <li>Bayesian inference</li>
      </ul> 
    
{% endblock %}